<div class="hero-container">
    <div class="left-section">
        <h1 class="title1">Procuramos talentos</h1>
        <p class="hero-text">Estamos em busca de talentos para nossa equipe! Se você é uma mão de obra eficiente e
          temporária, nós queremos você. Nosso e-commerce está contratando profissionais qualificados para integrarem nossa
          equipe. Com a conveniência do pagamento online, junte-se a nós e faça parte do nosso time hoje mesmo!</p>
         <div class="buttons">
            <button mat-flat-button color="primary">Junte-se a nós</button>
            <button mat-stroked-button color="primary">Vagas</button>
         </div>
    </div>
    <div class="right-section">
        <img src="../../../assets/images/joboffer.svg" alt="">
    </div>
</div>