<div class="benefits-container">
    <h2 class="title2">Principais benefícios</h2>
    <div class="features-grid">
        <div class="feature-content">
            <div class="feature">
                <img src="../../../assets/images/usergroup.svg" alt="">
                <section>
                    <h3 class="feature-title">Experiência de Mercado</h3>
                    <p class="feature-text">Ganhe bagagem na Pandapé em uma vaga temporária e esteja preparado para as
                        novidades do mercado.</p>
                </section>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature">
                <img src="../../../assets/images/moneymotivation.svg" alt="">
                <section>
                    <h3 class="feature-title">Pagamento Online</h3>
                    <p class="feature-text">A Pandapé fornece seu pagamento de forma 100% online, economize tempo.</p>
                </section>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature">
                <img src="../../../assets/images/time.svg" alt="">
                <section>
                    <h3 class="feature-title">Horários Flexíveis</h3>
                    <p class="feature-text">A Pandapé permite que você trabalhe no seu tempo, do seu jeito, entregando em
                        prazos.</p>
                </section>
            </div>
        </div>
    </div>
</div>

