.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 2rem 0px;
    width: 100%;

    .list {
        align-self: center;

        ul {
            display: flex; 
            justify-content: center;
            align-items: center; 
            flex-wrap: nowrap;
            margin: 0;
            padding: 0;
            list-style: none;

            transition: transform 0.5s ease;
            overflow-x: hidden;
        }

        li {
            margin: 0 1rem; 
            white-space: nowrap; 
            display: inline-block;

            img {
                width: 100px;
                height: auto; 
            }
        }
    }
}
