<div class="step-container">
    <div class="step-grid">
        <section class="titles">
            <h1 class="title1">
                Como ser contratado na Pandapé
            </h1>
            <span>Seja contrato em 4 passos simples</span>
        </section>
        <ol class="step-by">
            <li>
                <section>
                    <h3 class="step-s">1. Crie seu perfil</h3>
                    <div>
                        <p>Compartilhe alguns detalhes básicos e sua experiência de trabalho anterior.</p>
                    </div>
                </section>
            </li>
            <li>
                <section>
                    <h3>
                        <img  alt="" src="https://cdn.arc.dev/images/talent-landing/star-highlight-icon.svg">
                        <span>2. Seja avaliado</span>
                    </h3>
                    <div>
                        <p>Conclua testes técnicos e de comunicação para ser recomendado diretamente aos empregadores.
                        </p>
                        <sup>* Especialistas com mais de 4 anos de experiência no setor e excelente comunicação em
                            inglês se saem melhor na verificação.</sup>
                    </div>
                </section>
            </li>
            <li>
                <section>
                    <h3>3. Receba convites para entrevistas</h3>
                    <div>
                        <p>Entreviste diretamente com gerentes de contratação e obtenha ofertas de emprego.</p>
                    </div>
                </section>
            </li>
            <li>
                <section>
                    <h3 class="step-f">4. Começe a trabalhar</h3>
                    <div>
                        <p>Continue a receber suporte da Pandapé depois de iniciar uma nova função ou contrato.</p>
                    </div>
                </section>
            </li>
        </ol>
        <div class="step-btn">
            <button mat-flat-button color="primary">Junte-se a nós</button>
        </div>
    </div>
</div>